.jumbotron {
    background: url("../images/AboutImages/abara1.png");
    text-align: center;
}

.auth-image {
    float:left;
    width: 200px;
    height: auto;
    margin-top: 10px;
    margin-right: 25px;
}
h1 {
    text-align: center;
}
.footer {
    margin-top: 75px;
}