/* .jumbotron {
    background: url("../images/AboutImages/abara3.png");
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
} */

.jumbotron {
  background: url("../images/TrainImg.png");
  text-align: center;
}

.lead {
  font-weight: 800px;
  color: darkslategray;
}

.auth-image {
    float:left;
    width: 200px;
    height: auto;
    margin-top: 10px;
    margin-right: 25px;
}
h1 {
    text-align: center;
}
.footer {
    margin-top: 75px;
}
p {
    
}